{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    {% include 'navbar.html' %}
    {% include 'navbar-close.html' %}
  <div class="container">
  <form class="form-signin" method="POST" action="/signup">
    <h2 class="form-signin-heading">Sign Up</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.username) }}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.password) }}
    {{ wtf.form_field(form.confirm) }}
    <span style="color: red;">{{ form.error }}</span>
    {{ wtf.form_field(form.recaptcha) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
  </form>

</div> <!-- /container -->

{% endblock %}






