{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!--Load Javascript-->
    <script src="/static/js/highcharts/highcharts.js?v=adb7cb94282c1c2"></script>
    <script src="/static/js/highcharts/series-label.js?v=12b13fc9ccb5c5d"></script>
    <script src="/static/js/highcharts/exporting.js?v=92df3390b58446d"></script>
    <script src="/static/js/highcharts/export-data.js?v=d863a58fae8e084889b6"></script>
    <script src="/static/js/highcharts/themes/dark-unica.js?v=516b1606886504a6504a" /></script>
{% endblock %}

{% block body %}
    {% include 'navbar.html' %}
    {% include 'navbar-close.html' %}
    <body>
        <script>
            //loadMap();
        </script>
            <div id="info" style="margin-top:50px; margin-bottom:50px; text-align:center;">
                <h2>
                    This is one of many examples via <a href="https://www.highcharts.com/demo" target="_blank">highcharts</a>
                </h2>
            </div>
            <div id="container" style="height: 70vh; width: 100%;"></div>
    </body>

<script type="text/javascript">

    Highcharts.chart('container', {

        title: {
            text: 'Solar Employment Growth by Sector, 2010-2016'
        },

        subtitle: {
            text: 'Source: thesolarfoundation.com'
        },
        xAxis: {
            title: {
                text: 'Year'
            }
        },
        yAxis: {
            title: {
                text: 'Number of Employees'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        plotOptions: {
            series: {
                label: {
                    //Disable the per line label
                    enabled: false,
                    connectorAllowed: false
                },
                pointStart: 2010
            }
        },

        series: [{
            name: 'Installation',
            data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
        }, {
            name: 'Manufacturing',
            data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
        }, {
            name: 'Sales & Distribution',
            data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
        }, {
            name: 'Project Development',
            data: [null, null, 7988, 12169, 15112, 22452, 34400, 34227]
        }, {
            name: 'Other',
            data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });

</script>

{% endblock %}
