{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!--Load Javascript-->

    <script type="text/javascript" src="/static/js/highmaps/highmaps.js?v=358e25922b7a181" /></script>
    <script type="text/javascript" src="/static/js/highmaps/data.js?v=f3dae9e918889b6" /></script>
    <script type="text/javascript" src="/static/js/highmaps/world.js?v=1350bef68e90414" /></script>
    <script type="text/javascript" src="/static/js/highmaps/in-all.js?v=ccf45778c7f189a" /></script>
    <script type="text/javascript" src="/static/js/highmaps/themes/dark-unica.js?v=516b1606886504a6504a" /></script>
    <script type="text/javascript" src="/static/js/highmaps/proj4.js?v=eada0a742c573a1" /></script>

     <script>
        function loadMap(){
            $(function () {
                    //Data for the first item
                    var mapDataSrc = "";
                    try{
                        $.ajax({
                          url: '{{ map_data_link_src }}',
                          async: false,
                          dataType: 'json',
                          success: function (json) {
                            mapDataSrc = json;
                          }
                        });
                    }
                    catch (err) {
                        ;
                    }

                    //Data for the second item
                    var mapDataDst = "";
                    try{
                        $.ajax({
                          url: '{{ map_data_link_dst }}',
                          async: false,
                          dataType: 'json',
                          success: function (json) {
                            mapDataDst = json;
                          }
                        });
                    }
                    catch (err){
                        ;
                    }

                    $('#container').highcharts('Map', {
                        chart : {
                            borderWidth : 0,
                            map: 'custom/world',
                            theme: 'dark-unica'
                        },

                        title: {
                            text: '{{ map_title }}'
                        },

                        subtitle : {
                            text : '{{ map_subtitle }}'
                        },

                        legend: {
                            enabled: false
                        },

                        mapNavigation: {
                            enabled: true,
                            buttonOptions: {
                                verticalAlign: 'bottom'
                            }
                        },

                        series : [
                            {
                                name: 'Countries',
                                color: '#ff0000',
                                enableMouseTracking: true
                            },
                            {
                                type: 'mapbubble',
                                color: '{{ series_color_src }}',
                                name: 'Events',
                                data: mapDataSrc,
                                joinBy: ['lat', 'lon'],
                                minSize: 4,
                                maxSize: '12%',
                                tooltip: {
                                    pointFormat: 'Location: {point.location}<br>Count: {point.z}'
                                }
                            },
                            {
                                type: 'mapbubble',
                                color: '{{ series_color_dst }}',
                                name: 'Events',
                                data: mapDataDst,
                                joinBy: ['lat', 'lon'],
                                minSize: 4,
                                maxSize: '12%',
                                tooltip: {
                                    pointFormat: 'Location: {point.location}<br>Count: {point.z}'
                                }
                            }
                        ]
                    });
            });
        }
    </script>

    <script>
        setInterval(function(){
            loadMap(); // this will run after every 15 seconds
        }, {{ refresh_interval_ms }} );
    </script>

{% endblock %}

{% block body %}
    {% include 'navbar.html' %}
    {% include 'navbar-close.html' %}
    <body>
        <script>
            loadMap();
        </script>
            <div id="container" style="height: 90vh; width: 100%;"></div>
    </body>
{% endblock %}
