{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <script src="/static/js/jquery-ui.min.js?v=652ff0b9dcf418a"></script>

{% endblock %}

{% block body %}
    {% include 'navbar.html' %}
    <body>
        <div class="container-fluid container-fluid-spacious">
            <div class="container" style="margin-top:50px; text-align: center;">
                <div>
                    <h1>Doh...you just got a 500</h1>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
