{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link href="/static/css/datatables/jquery.dataTables.min.css?v=8993f1e5052ef2b" rel="stylesheet">
{% endblock %}

{% block body %}
    {% include 'navbar.html' %}
    {% include 'navbar-close.html' %}
    <body>
          <div class="container-fluid container-fluid-spacious">
            <div id="container" style="height: 96vh; width: 100%; margin-top:50px">

                <table id="myTable" class="table table-striped" style="width:100%" >
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Company</th>
                        <th>Email</th>
                        <th>Phone</th>
                      </tr>
                    </thead>

                </table>
            </div>
        </div>
    </body>

<!-- *** Loading the scripts last so that the page doesn't flicker white -->
<!-- Datatables and jquery -->
<script src="/static/js/datatables/jquery.dataTables.min.js?v=90ba0eef30bcbd9"></script>
<script src="/static/js/datatables/dataTables.fixedHeader.min.js?v=4684676696d5665"></script>
<script src="/static/js/jquery-ui.min.js?v=652ff0b9dcf418a"></script>
<!-- Export -->
<script src="/static/js/datatables/dataTables.buttons.min.js?v=5a9f3fd8a0932c4"></script>
<script src="/static/js/datatables/buttons.html5.min.js?v=e23ced6341d3ddd"></script>
<script src="/static/js/datatables/buttons.print.min.js?v=e78a8b185b89b7e"></script>
<!-- PDF -->
<script src="/static/js/datatables/pdfmake.min.js?v=ffa9a02736fe4a1"></script>
<script src="/static/js/datatables/vfs_fonts.js?v=795e143b8f4eeb5"></script>
<!-- Excel -->
<script src="/static/js/datatables/jszip.min.js?v=62db1c2504bd4d0"></script>

<script>
$(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#myTable thead tr').clone(true).appendTo( '#myTable thead' );
    $('#myTable thead tr:eq(1) th').each( function (i) {
       var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );

        $( 'input', this ).on( 'keyup change', function () {
            if ( table.column(i).search() !== this.value ) {
                table
                    .column(i)
                    .search( this.value )
                    .draw();
            }
        } );
    } );

    //Initialize the table
    var table = $('#myTable').DataTable( {
        "ajax": {url: "/get_json_data?file=example_people.json",
                 dataSrc: ""
                },
        "columns": [
            {data: "id"},
            {data: "name"},
            {data: "age"},
            {data: "gender"},
            {data: "company"},
            {data: "email"},
            {data: "phone"}
        ],
        //Have the cells that sort at the top
        orderCellsTop: true,
        //Order by column
        "order": [[ 1, "asc" ]],
        //Allow for changing of the length
        "pageLength": 15,
        "lengthMenu": [ [15, 25, 50, -1], [15, 25, 50, 'All'] ],
        "lengthChange": true,
        //For export
        dom: 'Blfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
    table.responsive.recalc();

} );
</script>

{% endblock %}
