{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    {% include 'navbar.html' %}
    {% include 'navbar-close.html' %}
    <body>
        <div class="container-fluid container-fluid-spacious">
            <div class="container" style="margin-top:50px">
                <div>
                    <section class="content">
                        <h2>Server IP: {{ server_public_ip }}</h2>
                        <h2>Your Request IP is: {{ client_request_ip }}</h2>
                        <h2>Your X-Forward For IP(s) are: {{ client_xforward_fors }}</h2>
                    </section>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
