{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    {% include 'navbar.html' %}
    {% include 'navbar-close.html' %}
    <body>
        <div class="container-fluid container-fluid-spacious">
            <div class="container">
                <div>
                    <section class="content" style="margin-top:50px">
                        <h1>This is my little example page to show a few common HTML tools that I have often used, like:</h1>
                        <h3>
                            <br>
                            <ul>
                                <li>Tables that are sortable, filterable, and exportable</li><br>
                                <li>Graphs (e.g. lines, scatter plots, and heatmaps)</li><br>
                                <li>Geo-location maps (assuming you have lat/long)</li><br>
                                <li>Client IP address identification</li><br>
                                <li>Password protected pages</li><br>
                            </ul>
                        </h3>
                    </section>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
