<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>STools</title>

        <link href="/static/css/fonts.roboto.css?v=3fcab31ec23f568" rel="stylesheet">
        <link href="/static/css/bootstrap/toolkit-inverse.css?v=9097bf17bfd62c9" rel="stylesheet">
        <link href="/static/css/bootstrap/application.css?v=bb994d1d9e86159" rel="stylesheet">
        <link href="/static/css/jquery-ui.min.css?v=5c935d3287b62c8" rel="stylesheet">

        <script src="/static/js/bootstrap/jquery.min.js?v=f9c7afd05729f10"></script>
        <script src="/static/js/bootstrap/popper.min.js?v=3621381129597bf"></script>
        <script src="/static/js/bootstrap/chart.js?v=ce6fe2aecc1c304"></script>
        <script src="/static/js/bootstrap/tablesorter.min.js?v=f1cc6ebdef9231e"></script>
        <script src="/static/js/bootstrap/toolkit.js?v=4f3a254c0c8fe0d"></script>
        <script src="/static/js/bootstrap/application.js?v=59f6268f3689c3e"></script>
        <script src="/static/js/jquery-ui.min.js?v=652ff0b9dcf418a"></script>

        <style>
          /* note: this is a hack for ios iframe for bootstrap themes shopify page */
          /* this chunk of css is not part of the toolkit :) */
          body {
            width: 1px;
            min-width: 100%;
            *width: 100%;
          }
        </style>
        {% endblock %}
    </head>


    {% block body %}
    {% endblock %}

    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>

</html>
