  <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark app-navbar">
      <a class="navbar-brand" href="/">
        <span class="navbar-brand-icon"></span>
        STools
      </a>

      <button
        class="navbar-toggler navbar-toggler-right d-md-none"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="nav navbar-nav mr-auto">

          <!--Tables-->
          <div class="btn-group">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tables
              </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/datatables_static">Datatables - Static</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/datatables_dynamic">Datatables - Dynamic</a>
                </div>
          </div>

          <!--Graphs and Maps-->
          <div class="btn-group">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Graphs+Maps
              </button>
                <div class="dropdown-menu">
                    <li><a class="dropdown-item" href="/highcharts">Charts/Graphs</a>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="/world_map?src_file=sources.json&dst_file=destinations.json">Maps</a>
                </div>
          </div>

          <!--Misc Items-->
          <div class="btn-group">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Misc
              </button>
                <div class="dropdown-menu">
                    <li><a class="dropdown-item" href="/get_client_ip">Get IPs</a>
                </div>
          </div>

          <!--Misc Items-->
          <div class="btn-group">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Private Stuffs
              </button>
                <div class="dropdown-menu">
                    <li><a class="dropdown-item" href="/private">Private Data</a>
                    <li><a class="dropdown-item" href="/login">Login</a>
                    <li><a class="dropdown-item" href="/signup">Sign Up</a>
                </div>
          </div>

        </ul>
        
<!-- 
        <form class="form-inline d-none d-md-flex ml-auto">
          <input class="form-control" id="navbarsearch" type="text" data-action="grow" placeholder="Search">

                 <script>
                $(function() {
                    var links = [
                        "Home page - /",
                        "World Map - /world_map?src_file=sources.json&dst_file=destinations.json",
                    ];
                    $("#navbarsearch").autocomplete({
                        source: links,
                        select: function(event, ui) {
                            var link = ui.item.value.split(" - ")[2];
                            var win = window.open(link, '_blank');
                            win.focus();
                            return false;
                        },
                    });
                });
                </script>
            </form>
-->

